<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<%= @question %>
<%= @answer %>



<form action="/ask">
  <input type="text" name="response">
  <input type="submit" value="Answer!">
</form>

<%= link_to "Ask", "/ask" %>

